@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

@media (min-width: 961px) {
  /* For a screen > 960px, this CSS will be read */
  h1 {
    font-size: 68px;
    font-weight: 700;
    margin: 0 auto 0.5em;
  }

  h2 {
    font-size: 44px;
    font-weight: 700;
    margin: 0 auto;
  }

  h3 {
    font-size: 28px;
  }

  p {
    font-size: 22px;
  }

  .card {
    min-width: calc(33.333% - 30px); /* 3 cards per view with 15px margin on desktop */
  }

  .card-text p {
    font-size: 16px;
  }

  .headline-text hr {
    width: 562px;
  }

  .img-profile {
    height: 19rem;
    width: 19rem;
  }

  .img-background {
    height: 218px;
  }

  .img-container {
    height: 218px;
  }

  .icon-big {
    font-size: 3rem;
  }

  .icon-xbig {
    font-size: 4.6rem;
  }
  .icon-xbig i {
    top: -16px;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0 auto 0.5em;
  }

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 auto;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 18px;
  }

  .card-text p {
    font-size: 16px;
  }

  .headline-text hr {
    width: 408px;
  }
  .scroll-down {
    margin-bottom: 10vh;
  }
  .img-profile {
    height: 12rem;
    width: 12rem;
  }
  .img-background {
    height: 218px;
  }
  .img-container {
    height: 218px;
  }
  .card {
    min-width: calc(50% - 30px); /* 2 cards per view on medium screens */
  }
  .icon-big {
    font-size: 3rem;
  }

  .icon-xbig {
    font-size: 4.6rem;
  }
  .icon-xbig i {
    top: -16px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 auto 0.5em;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
  .scroll-down {
    margin-bottom: 10vh;
  }
  .card {
    min-width: calc(100% - 30px); /* 1 card per view on small screens */
  }
  .card-text p {
    font-size: 12px;
  }

  .headline-text hr {
    width: 192px;
  }

  .img-profile {
    height: 12rem;
    width: 12rem;
  }
  #tech-stack img {
    width: 100%;
  }
  .icon-big {
    font-size: 3rem;
  }

  .icon-xbig {
    font-size: 4.6rem;
  }

  .icon-xbig i {
    top: -16px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto 0.5em;
  }

  h2 {
    font-size: 14px;
    font-weight: 700;
    margin: 0 auto;
  }

  h3 {
    font-size: 12px;
  }

  p {
    font-size: 10px;
  }
  .navbar {
    height: 2.8rem !important;
    border-bottom: 2px solid var(--text-color) !important;
    padding-right: 1rem !important;
  }
  .nav-spacer {
    width: 30vw !important;
  }
  section {
    padding: 3rem 0 0 !important;
  }
  .headline {
    margin: 20vh auto;
  }
  .headline-text hr {
    width: 192px;
  }
  .scroll-down {
    margin-bottom: 10vh;
  }
  .img-profile {
    height: 6rem;
    width: 6rem;
    top: 0.4rem;
    left: 0.6rem !important;
    border: 1px solid var(--violet-color) !important;
  }
  .img-background {
    height: 180px;
  }
  .img-container {
    height: 180px;
  }

  #tech-stack img {
    width: 100%;
  }
  .icon-big {
    font-size: 2rem;
  }

  .icon-xbig {
    font-size: 3rem;
  }

  .icon-xbig i {
    top: -10px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  --background-color: #f5f0e8;
  --blue-color: #6FD6DB;
  --yellow-color: #FAD05A;
  --purple-color: #A0A4CF;
  --text-color: #242830;
  --orange-color: #FF6542;
  --red-color: #E84855;
  --green-color: #698F3F;
  --dark-blue-color: #0A122A;
  --indigo-color: #7067CF;
  --violet-color: #542344;
  box-sizing: border-box;

  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  color: var(--text-color);
}

.emphasize {
  color: var(--violet-color)
}

.navbar {
  margin: 0;
  background-color: var(--background-color);
  border-bottom: 3px solid var(--text-color);
  width: 100vw;
  height: 5rem;
  padding-right: 3rem;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-spacer {
  width: 40vw;
  font-weight: 500;
}

.headline {
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  height: 26vh;
  margin: 24vh auto;
}

.headline-text hr {
  margin: 0 4px 0 auto;
  border-top: 3px solid var(--violet-color);
}

.sub-header {
  margin-bottom: 2rem;
}

.info-card {
  width: 100%;
  background: #24283020;
  padding: 2rem 3rem;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  align-items: center;
  text-align: justify;
}

.info-card h2 {
  margin-bottom: 1rem;
}

.info-card p {
  margin-bottom: 3rem;
}

.icon-xbig {
  vertical-align: top;
}

.icon-xbig i {
  position: relative;
}

.skill-icon-small {
  height: 48px;
  padding: 2px;
  border-radius: 8px;
  background-color: var(--background-color);
  margin: 0 4px;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: 1s ease;
}

a:hover {
  text-decoration: none;
  color:var(--violet-color);
}

a.active {
  color:var(--violet-color);
  text-decoration: underline;
}

a.active:hover {
  color: var(--text-color);
}

.container {
  width: 90vw;
  margin: 0 auto;
}

section {
  width: 100%;
  padding: 7rem 0 0;
}

/* PROJECTS CAROUSEL */
.carousel-wrapper {
  position: relative;
}
.carousel-container {
  overflow: hidden;
  width: 100%;
}
.card-view-wrapper {
  width: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--violet-color);
  padding: 10px;
  font-size: 4rem;
  cursor: pointer;
  border: none;
}
.carousel-button.prev {
  left: -5vw;
}
.carousel-button.next {
  right: -5vw;
}

/* PROJECT CARDS */
.card {
  max-height: 80vh;
  margin: 15px;
  border-radius: 16px;
  border: 3px solid var(--violet-color);
  background: #24283020;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.card-text {
  padding: 24px 24px 0;
  align-items: left;
  text-align: left;
}

#footsie {
  padding-top: 3px;
}

.img-background {
  width: 100%;
  padding: 0;
  background: black;
}

.img-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 24px 16px 16px;
}

.img-background img {
  /* border-radius: 4px; */
  height: 100%;
  width: 100%;
  object-fit:cover;
}

.img-container img {
  width: 100%;
  border: 1px solid var(--text-color);
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
}

.card-text h3 {
  color: var(--violet-color);
}

.skill-icons-small {
  margin-top: 2rem;
}

.skill-icons-small img {
  height: 40px;
}

.list-inline > li {
  display: inline-block;
}

.list-inline {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0px;
}

.img-profile {
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-image: url(images/profile-pic.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid var(--violet-color);
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  top: 0.4rem;
  left: 1.8rem;
  transition: all 1s ease-in-out;
  margin: 0;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

#profile-pic {
  border: 6px solid #E9B44C;
  border-radius: 50%;
}
